<footer class="footer">
	<div class="container container--flex">
		<nav class="footer-nav">
			<ul class="footer-nav__col">
				<li><a href="#" title="">Users and Groups</li></a>
				<li><a href="#" title="">Help</li></a>
			</ul>
			<ul class="footer-nav__col">
				<li><a href="#" title="">About DocuShare</li></a>
				<li><a href="#" title="">Statistics</li></a>
			</ul>
			<ul class="footer-nav__col">
				<li><a href="#" title="">Mobile Client Settings</li></a>
				<li><a href="#" title="">Cookies</li></a>
			</ul>
		</nav>
	
		<div class="footer-copy">
			<p>© 1996-2015 SupercompanyCorporation.<br>
			All Rights Reserved.</p>
		</div>		
	</div>
</footer>


