<div class="main-content">
	<div class="container container--flex">
		
		<!-- Start first column -->
		<div class="col-1">
			<div class="post">
				<div class="post__icon">
					<div class="main-icon">{{mixins.icon('layers-1')}}</div>
				</div>
				<div class="post__title">
					<div class="common-title">
						<a href="#" title=""><h2>Collections</h2></a>
						<h4>Top level collections</h4>
					</div>
				</div>
				<div class="post__link">
					<a href="#" title=""><h3>Extranet Materials</h3></a>
					<p>Content for collaboration with external participants.</p>
				</div>
				<div class="post__link">
					<a href="#" title=""><h3>Branding Materials</h3></a>
					<p>All document components (text/graphics/fills/rules, etc.)</p>
				</div>
				<div class="post__link">
					<a href="#" title=""><h3>Print-ready Materials</h3></a>
					<p>The department that generates a print shop request <br>is responsible for the work.</p>
				</div>
				<div class="post__button">
					<div class="common-btn"><a href="#" title="">See More</a></div>
				</div>
			</div>
		</div>
		<!-- End first column -->

		<!-- Start second column -->
		<div class="col-2">
			<div class="post">
				<div class="post__icon">
					<div class="main-icon">{{mixins.icon('link')}}</div>
				</div>
				<div class="post__title">
					<div class="common-title">
						<a href="#" title=""><h2>Other links</h2></a>
						<h4>Links to other content</h4>
					</div>
				</div>
				<div class="post__link">
					<a href="#" title=""><h3>My DocuShare</h3></a>
					<p>Your personalized DocuShare home page</p>
				</div>
				<div class="post__link">
					<a href="#" title=""><h3>WorkCentre Scan Repository</h3></a>
					<p>Temporary storage for scanned documents</p>
				</div>
				<div class="post__link">
					<a href="#" title=""><h3>Contact Information</h3></a>
					<p>Number and e-mail address of the original document <br> creator.</p>
				</div>
				<div class="post__button">
					<div class="common-btn"><a href="#" title="">See More</a></div>
				</div>
			</div>			
		</div>
		<!-- End second column -->

		<!-- Start third column -->
		<div class="col-3">
			<div class="getstarted">
				<div class="getstarted__icon">
					<div class="main-icon">{{mixins.icon('paper-plane')}}</div>
				</div>
				<div class="getstarted__title">
					<div class="common-title">
						<a href="#" title=""><h2>Getting Started</h2></a>
						<h4>Not sure what to do?</h4>
					</div>
				</div>
				<div class="getstarted__button">
					<div class="common-btn"><a href="#" title="">Take a Tutorial</a></div>
				</div>
			</div>

			{% include "partials/_slider.html" %}

			<div class="post post--lower">
				<div class="post__icon">
					<div class="main-icon">{{mixins.icon('share')}}</div>
				</div>
				<div class="post__title">
					<div class="common-title">
						<a href="#" title=""><h2>Communities</h2></a>
						<h4>Explore our community areas</h4>
					</div>
				</div>
				
				<div class="post__small-title">
					<div class="small-title">
						<div class="small-title__icon">
							{{mixins.icon('four-squares')}}
						</div>
						<div class="small-title__h3">Workspaces</div>
					</div>
				</div>

				<div class="post__link">
					<a href="#" title=""><h3>Duracell Inc</h3></a>
					<p>PM, Eng & SQA document share and test file locations <br> for Cogniance engagement</p>
				</div>
				<div class="post__square-link">
					<div class="square-link">
						<h3 class="square-link__h3">Wiki</h3>			
						<div class="square-link__button">
							<div class="post__button">
								<div class="common-btn"><a href="#" title="">See More</a></div>
							</div>
						</div>
					</div>
					<div class="square-link">						
						<h3 class="square-link__h3">Weblogs</h3>		
						<div class="square-link__button">
							<div class="post__button">
								<div class="common-btn"><a href="#" title="">See More</a></div>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
		<!-- End third column -->
		
	</div>
</div>

