<div class="slider">
	<div class="slider__buttons">
		<div class="slider__prev">{{mixins.icon('left-arrow')}}</div>
		<div class="slider__next">{{mixins.icon('right-arrow')}}</div>
	</div>
	<div class="slider__slides">
		<div class="slider__slide">
			<div class="slider__icon">
				<div class="main-icon">
					{{mixins.icon('multimedia')}}
				</div>
			</div>
			<div class="username">
				<div class="username__avatar">
					<img src="img/user.png" alt="">
				</div>
				<div class="username__name">
					<h4>BritishMonarchy</h4>
					<a href="#" title="">@BritishMonarchy</a>
				</div>
			</div>
			<div class="slider__text">
				<p>It is a pleasure to open the Information <br> Age exhibition today at the <br> @ScienceMuseum and I hope people will <br> enjoy visiting. </p>
			</div>
			<div class="slider__meta">
				<div class="meta">
					<div class="meta__icon">
						<a href="#" title="">{{mixins.icon('twitter-logo')}}</a>
					</div>
					<div class="meta__date">
						<p>1:35 PM - 24 Oct 2014</p>
					</div>
				</div>
			</div>			
		</div>

		<div class="slider__slide">
			<div class="slider__icon">
				<div class="main-icon">
					{{mixins.icon('multimedia')}}
				</div>
			</div>
			<div class="username">
				<div class="username__avatar">
					<img src="img/user.png" alt="">
				</div>
				<div class="username__name">
					<h4>BritishMonarchy</h4>
					<a href="#" title="">@BritishMonarchy</a>
				</div>
			</div>
			<div class="slider__text">
				<p>It is a pleasure to open the Information <br> Age exhibition today at the <br> @ScienceMuseum and I hope people will <br> enjoy visiting. </p>
			</div>
			<div class="slider__meta">
				<div class="meta">
					<div class="meta__icon">
						{{mixins.icon('twitter-logo')}}
					</div>
					<div class="meta__date">
						<p>1:35 PM - 24 Oct 2014</p>
					</div>
				</div>
			</div>			
		</div>
	</div>
</div>